.sidebar-ext {
  width: 28%;
  float: left;
  background-color: white;
  .wrapper {
    // position: absolute;
    background-color: white;
    min-height: 600px;
    width: 98%;
    box-shadow: 5px 0 5px -5px #333;
    .title {
      padding: 10px;
      padding-left: 30px;
      font-weight: 500;
    }
    .item-list {
      .item {
        margin: 10px;
        padding: 10px 0px;
        font-weight: 500;
        border-bottom: 1px solid rgb(114, 112, 112);
        span {
          display: block;
          color: blue;
          font-size: 14px;
        }
      }
      .item:hover {
        background-color: rgb(152, 205, 248);
        opacity: 0.9;
      }
    }
  }
}
